#a {
    
}
#b{
    margin-top: -38%;
}
#bb{
    margin-top: -27.5%;
    color: white;
}
#c{
    margin-top: -23%;
     font-weight:400;
}
#d{
    margin-top: 0.5%;
    font-size:14px;
    font-weight:400;
}
#e{
    margin-top: -13%;
}